#index-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#index-header-link {
    margin: 30px 50px;
}

#index-header-link a {
    color: white;
    opacity: 0.7;
    text-decoration: none;
    margin: 0 10px;
}

#index-header-link a:hover {
    opacity: 1;
}